.jumbotron {
    border-radius: 0;
}

.employee-card {
    box-shadow: 5px 5px 5px gray;
    margin: 1rem;
    border: none;
}

.card-body {
    background-color: rgb(240, 240, 240);
}

footer {
    text-align: center;
    padding-top: 20px;
}